 @font-face {
    font-family:Noto Sans Regular;
    src: url(../fonts/static/NotoSans-Regular.ttf);
}
@font-face {
    font-family:Roboto Medium;
    src: url(../fonts/static/Roboto-Medium.ttf);
}
@font-face {
    font-family:Noto Sans  ExtraBold;
    src: url(../fonts/static/NotoSans-ExtraBold.ttf);
}
@font-face {
    font-family:Poppins;
    src: url(../fonts/Poppins-Regular.ttf)
}
@font-face {
    font-family:SemiBold;
    src: url(../fonts/static/NotoSans-SemiBold.ttf)
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    height: 20px;
    width: 18px;
}
.container{
    width: 1440px;
    height: 5000px;
    background-color: #FFF8F8;
    position: relative;
    margin: 0 auto;
}
.header_list{
    font-family: Noto Sans Regular;
    font-size:18px;
    gap: 43px;
    display: flex;
    padding-left:646px;
    padding-top: 47px;
    right: 238px;
    white-space: nowrap;
    
}
.header_nav a {
    color:#2A2940;
    font-size: 18px;
    font-family:Noto Sans Regular;
    text-decoration: none;
}
.header__auth{
    border: none;
    background-color: #FE0000;
    font-size: 18px;
    border-radius: 8px;
    color: #ffffff;
    width: 102px;
    height: 40px;
    font-family: Roboto Medium;
    cursor: pointer;
    display: flex;
    top: 40px;
    right: 80px;
    text-align: center;
    position: absolute;
}
.frame{
    width:313px;
    height: 558px;
    display: flex;
    padding-top:150px;
    padding-left:79px;
    position: absolute;
}
.serum_img{
    width: 313px;
    height: 558px;
    display: flex;
    position: absolute;
    padding-top:168px;
    padding-left:79px;
}
.element{
    width: 87px;
    height: 87px;
    padding-top: 217px;
    padding-left:478px;
}
.frame2{
    width:193px;
    height: 344px;
    display: flex;
    top:380px;
    padding-left:437px;
    position: absolute;
}
.girls{
    width: 193px;
    height: 344px;
    left:423px;
    position: absolute;
    padding-top:382px ;
}
.infa{
    font-family: Noto Sans  ExtraBold;
    font-size:72px;
    color:#FFA41C;
    padding-left:725px;
    right:242px;
    top:214px;
}
.text{
    font-family:Noto Sans  ExtraBold;
    font-size:72px;
    color:#2A2940;
    padding-left:725px;
    right:242px;
    line-height:120%;
}
.description{
    font-family: Poppins;
    font-size:18px;
    padding-left:725px;
    font-size: 18px;
    color: #545465;
}
.buy{
    font-family:SemiBold;
    font-size: 24px;
    color:#FE0000;
    top: 580px;
    padding-left:725px;

}
.buy{
    font-family:SemiBold;
    font-size: 24px;
    color:#FE0000;
    padding-top: 580px;
    padding-left:725px;
}
@media only screen
  and (device-width: 390px)
  and (device-height: 844px)
  and (-webkit-device-pixel-ratio: 3)